/* ヘッダー全体 */
.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding: 0 20px; */
  padding-left: 10px;
}

.logo img {
  height: 35px;
  display: block;
}

.toggleBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.toggleBtn img {
  width: 45px;
  height: 45px;
  transition: transform 0.2s ease;
}

.open img {
  transform: rotate(45deg);
}

/* ===== PC画面 ===== */
@media (min-width: 768px) {
  .inner {
    padding: 16px auto;
    /* border:solid */
  }

  .logo img {
    height: 60px;
  }
}
