/* HeaderWithForm.module.css */
.container {
  width: 100%;
  background-color: #fff; 
}

.inner,
.formSection {
  max-width: 1000px;
  margin: 0 auto;
}

.inner {
  display: flex;
  flex-direction: column; /* 上下に並べる */
  padding: 12px 30px;
}

.formSection {
  width: 100%;
  padding-bottom: 20px;
  animation: fadeIn 0.3s ease-out; /* ふわっと表示 */
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.logoutArea {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

.logoutButton {
  display: flex;
  align-items: center;
  color: #fff;
  background: #b4b4b4;
  border: none;
  border-radius: 20px;
  /* border: 0.7px solid #737373; */
  padding: 1px 10px 1px 28px;
  font-size: 0.75rem;
  font-weight: bold;
  cursor: pointer;
}

.logoutButton:hover {
  opacity: 0.7;
}

.logoutIcon {
  height: 36px;
}

@media (max-width: 768px) {
  .inner {
    padding: 10px 15px; 
  }

  .formSection {
    padding: 0 10px 20px 10px;
  }
}