/* ヘッダー全体 */
.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo img {
  height: 40px;
  display: block;
}

.toggleBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.toggleBtn img {
  width: 50px;
  height: 50px;
}

/* ===== PC画面 ===== */
@media (min-width: 768px) {
  .inner {
    padding: 16px 24px;
    /* border:solid */
  }

  .logo img {
    height: 40px;
  }
}
