.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin-bottom: 16px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px 30px;
}

.month {
  grid-column: 2;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #2f3e46;
}

.arrow {
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}

.arrow:first-child {
  justify-self: start;
}

.arrow:last-child {
  justify-self: end;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 12px;
  justify-items: center;
  align-items: center;
  margin-top: 24px;
}

.day {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bbb;
  font-size: 16px;
}

.activeDay {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e76f51;
  font-weight: 700;
}
