#root {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffeda4;
  color: #222;
  font-family: system-ui, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  width: 100%;
  background-color: #fff;
}

main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}

.card {
  background: #fff;
  border: 1.5px solid #000;
  border-radius: 16px;
  padding: 20px 50px;
  margin: 20px auto;
}

.sectionTitle1, .sectionTitle2 {
  font-size: 1.2rem;
  width: fit-content;
  background: #fff;
  border: 1.5px solid #000;
  border-radius: 9999px;
  padding: 15px 40px;
}

.sectionTitle1 {
  margin: 20px 0 30px 0;
}

.sectionTitle2 {
  margin: 50px 0 30px 0;
}

@media (max-width: 768px) {
  .card {
    margin: 20px 0; 
    padding: 20px 15px; 
  }
}